*.pyc
*.sage.py
*.swp
*.log
*.DS_Store
loom/sage_scripts/*.py
logs/*.txt
logs/webmain_pid
cache/
data/
*.ipynb_checkpoints
bin/
static/html/
static/loom_docs/
static/loom_plots/
.venv/
.sage/
nohup.out
wwwloom.wsgi

